@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    color: #424242;
}
   
/*
  Navigation
*/
header {
    min-height: 56px;
    transition: min-height 0.3s;
    padding: 16px;
    background-color: #05a3ff;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header-inner {
    display: flex;
    align-items: center;
}

.header_title {
    font-weight: 400;
    font-size: x-large;
    margin: 0.5em 0.25em;
    display: inline-block;
    color: white;
}

.hamburger-container {
    margin: 10px 0 10px 5px;
    display: block;
    width: auto;
    text-align: end;
}

.header_menu {
    min-width: 44px;
    min-height: 44px;
    font-size: 25px;
    text-decoration: none;
    color: white;
    background-color: #05a3ff;
    border: 0;
}

.nav-list {
    padding: 0;
    margin: 0;
}

.nav_item {
    display: inline-block;
    text-align: center;
    line-height: 24px;
    text-transform: uppercase;
}

.nav a {
    display: inline-block;
    padding: 1.3em;
    text-decoration: none;
    color: white;
}

.nav a:hover {
    text-decoration: underline;
    color: rgb(92, 188, 233);
}
   
/*
  Main Content
*/  
main {
    padding: 12px;
    height: auto;
    overflow: visible;
}

.zona {
    height: fit-content;
}

/*
  post
 */

 .posts {
    text-align: left;
}

/*
  vaksin
 */

 .vaksin {
    width: 100%;
    text-align: center;
}

.vaksin__label {
    font-size: large;
    font-weight: 500;
    text-align: left;
    margin-bottom: 10px;
}

.vaksin__label::after {
    display: block;
    border-bottom: 1px solid #eeeeee;
}

.post-item-sasaran {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    padding: 16px;
    grid-column-start: 1; /* box2 akan dimulai dari kolom garis ketiga */
    grid-row-start: 1; /* dan baris garis pertama */
    grid-row-end: 3; /* kemudian berakhir di baris garis ketiga */
}
.map{
    width: 100%;
}

.post-item__totalSasaran {
    font-weight: 500;
    color: rgb(80, 78, 78);
    text-align: center;
    padding-bottom: 10px;
    margin: auto;
}

.post-item__titleSasaran {
    color: rgb(170, 169, 169);
    text-align: center;
    margin: auto;
}

.post-item-vaksin {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.post-item-contentVaksin {
    padding: 16px;
    height: 100%;
    display: flex;
    border-radius: 10px;
}

.vaksinImage{
    width: 20%;
    object-position: center;
}

.vaksinInfo {
    text-align: center;
    width: 100%;
    padding: 32px;
}
  
.vaksinInfo > h2 {
    font-weight: 500;
    color: rgb(80, 78, 78);
    background: rgb(155, 150, 150);
    border-radius: 4px;
    width: 100%;
}
  
.vaksinInfo > p {
    margin-bottom: 8px;
    margin-top: 8px;
    color: rgb(170, 169, 169);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
}

.update {
    margin-top: 10px;
    color: rgb(170, 169, 169);
    font-weight: 400;
    text-align: right;
    margin-bottom: 30px;
    border-bottom: rgb(170, 169, 169);;
}

/*
  Protect
 */

 .protection {
    width: 100%;
    text-align: center;
    padding: 10px
}

.protection__label {
    font-size: large;
    font-weight: 500;
    text-align: left;
    color: rgb(92, 188, 233);
}

.protection__label::after {
    display: block;
    border-bottom: 1px solid #eeeeee;
}

.post-item-contentProtect {
    padding: 16px;
    height: auto;
    display: flex;
    margin-bottom: 18px;
    border-radius: 10px;
    overflow: hidden;
}

.protectIcon{
    width: 50px;
    height: 50px;
    margin-top: 30px;
    align-items: center;
    object-fit: cover;
    object-position: center;
}

.protectionInfo {
    padding: 16px;
}
  
.protectionInfo> h4 {
    font-weight: 500;
    color: rgb(80, 78, 78);
}
  
.protectionInfo > p {
    margin-top: 10px;
    color: rgb(122, 120, 120);
    font-size: 80%;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
}

/*
  Varian
 */

 .varian {
    width: 100%;
    text-align: center;
    padding: 10px
}

.varian__label {
    font-size: large;
    font-weight: 500;
    text-align: left;
    margin-bottom: 10px;
    color: rgb(92, 188, 233);
}

.varian_label::after {
    display: block;
    border-bottom: 1px solid #eeeeee;
}

.post-item-contentvarian {
    padding: 32px;
    border-radius: 30px;
}

.post-item-nameVarian {
    color: rgb(80, 78, 78);
    font-weight: 800;
    text-align: center;
    padding-top: 20px;
}

.post-item-countryVarian, .post-item-symptomsVarian {
    font-size: small;
    color: rgb(122, 120, 120);
    text-align: left;
}


/*
  virus
 */
.virus {
    text-align: left;
    padding: 10px
}
.post-item-virus {
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

/*
 * headline
 */
.about {
    padding: 16px;
}

.our-photo {
    width: 100%;
}

.our-photo img {
    width: 100%;
}

.our-photo figcaption {
    text-align: center;
    color: #666666;
    font-size: 13px;
    font-weight: 400;
    margin-top: 8px;
}

.about-product {
    width: 100%;
    padding: 16px 0;
}

.product__title {
    font-size: 24px;
    font-weight: 500;
}

.product__description {
    font-size: 12px;
    margin-top: 12px;
    text-align: justify;
}

/*
 * credit
 */

.credit {
    width: 100%;
    margin: 60px auto;
    text-align: center;
}

.credit__label {
    font-size: 32px;
    font-weight: lighter;
}

.credit__label::after {
    content: '';
    margin-top: 16px;
    display: block;
    border-bottom: 1px solid #eeeeee;
}

/*
 * credit
 */

.credit__posts {
    margin: 32px auto auto;
    text-align: left;
    overflow: auto;
}

/*
 * credit item
 */

.credit-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.credit-item__content {
    padding: 16px;
}

.post-item__label {
    font-size: 10px;
    text-transform: uppercase;
    color: #999;
}

.credit-item__author {
    color: red;
    text-decoration: none;
}

.credit-item__title {
    font-weight: 500;
    font-size: 16px;
    margin-top: 16px;
    transition: 0.3s opacity;
}

.credit-item__title:hover {
    opacity: 0.5;
}

.credit-item__title a {
    text-decoration: none;
    color: inherit;
}

.credit-item__description {
    margin-top: 16px;
    font-size: 12px;
    line-height: 1.5em;
}

/*
  Footer
*/ 
footer {
    position: absolute;
    background-color: #05a3ff;
    padding: 16px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
footer p {
    text-align: center;
    color: white;
    font-size: 16px;
}

/*
  Skip Link
*/
.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #bf1722;
    color: white;
    padding: 8px;
    z-index: 100;
 }

 .skip-link:focus {
    top: 0;
 }

/*
  Map
*/
#map { 
    height: 775px;
    border-radius: 5px;
}

/*
  Map Info
*/
.info {
    padding: 6px 8px;
    font: 14px/16px "Roboto", sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

/*
  Indicator Info
*/
.indicator {
    line-height: 18px;
    color: #555;
}
.indicator i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
/*
  Search Hospital
*/
.form-hospital{
    border: 1px solid #05a3ff;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

.select-box {
    width: 45%;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.select{
    width: 100%;
    border: 2px solid #05a3ff;
    border-radius: 5px;
    font-size: medium;
    padding: 10px;
    align-items: center;
    box-sizing: border-box;
}

.label{
    color: #05a3ff;
    font-size: medium;
    margin-right: 2px;
}

.btn-box {
    width: 35%;
    margin: 5px;
}

.btn-search {
    width: 100%;
    border-radius: 5px;
    color:#fafafa;
    font-size: medium;
    padding: 10px 12px;
    border: 2px solid #05a3ff;
    color: black;
    margin-top: 20px;
    cursor: pointer;
}
.btn-search:hover {
    background: #68a8a8;          
    color:#fafafa;
}
.btn-search:active {
    background:#a7acac;
}

/*
  Other CSS
*/
.risk-content {
    text-align: justify;
}
.risk-container {
    margin-top: 5px;
    overflow-y: auto;
    height: 200px;
}
::-webkit-scrollbar {
    width: 5px;
}