* {
    padding: 0;
    margin: 0;
}
   
body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
   
/*
  Navigation
*/
header {
    min-height: 56px;
    transition: min-height 0.3s;
    padding: 16px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header-inner {
    display: flex;
    align-items: center;
}

.header_title {
    font-weight: 300;
    font-size: 2em;
    margin: 0.5em 0.25em;
    display: inline-block;
    color: black;
}

.hamburger-container {
    margin: 10px 0 10px 5px;
    display: block;
    width: auto;
    text-align: end;
}

.header_menu {
    min-width: 44px;
    min-height: 44px;
    font-size: 25px;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 0;
}

.nav {
	display: flex;
	justify-content: flex-end;
}

.nav-list {
    padding: 0;
    margin: 0;
}

.nav_item {
    display: inline-block;
    text-align: center;
    line-height: 24px;
    text-transform: uppercase;
}

.nav a {
    display: inline-block;
    padding: 1.3em;
    text-decoration: none;
    color: black;
}

.nav a:hover {
    text-decoration: underline;
    color: black;
}
   
/*
  Main Content
*/  
main {
    padding: 32px;
    flex: 1;
} 
.content {
    margin: 0 auto;
    min-height: 100%;
} 
.content .content__heading {
    font-weight: normal;
}
  
/*
  Footer
*/ 
footer {
    padding: 16px;
}
footer p {
    text-align: center;
    color: #aaaaaa;
}

/*
  Skip Link
*/
.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #bf1722;
    color: white;
    padding: 8px;
    z-index: 100;
 }

 .skip-link:focus {
    top: 0;
 }
