.posts {
    display: grid;
    grid-column-gap: 32px;
    grid-row-gap: 16px;
    width: 100%;
}

.credit__posts {
    display: grid;
    grid-row-gap: 16px;
}

.virus {
    display: grid;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    width: 100%;
}

@media screen and (max-width: 499px) {
    .header_title {
        font-weight: 100;
        font-size: 1.5em;
    }

    .nav {
        margin-top: 80px;
        z-index: 10000;
        background-color: #fff;
        width: 300px;
        position: absolute;
        left: 0;

        /* This trasform moves the drawer off canvas. */
        -webkit-transform: translate(-320px, 0);
        transform: translate(-320px, 0);
        visibility: hidden;

        /* Optionally, we animate the drawer. */
        transition: transform 0.3s ease;
    }

    .open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        visibility: visible;
    }

    .nav_item {
        display: list-item;
        list-style-type: none;
        border-bottom: 1px solid #E0E0E0;
        width: 100%;
        text-align: left;
    }

    .nav_item a {
        color: black;
        text-decoration: none;
    }
    /*
        Search Hospital
    */
    .form-hospital{
        flex-direction: column;
    }
    .select{        
        border-radius: 5px;
        align-items: center;
        font-size: small;
    }
    .label{
        font-size: small;
    }
    .btn-search {
        position:relative;
        width: 100%;
        margin: auto;
    }
    .btn-search:hover {
        background: #68a8a8;          
        color:#fafafa;
    }
    .btn-search:active {
        background:#a7acac;
    }
    .prov-container{
        margin-bottom: 10px;
        width: auto;
    }
    .city-container{
        margin-bottom: 10px;
        width: auto;
    }
}

@media screen and (min-width: 455px) {
    .about-product {
        padding: 16px 16px;
    }

    .product__title {
        font-size: 28px;
    }

    .product__description {
        font-size: 16px;
    }
}

@media screen and (min-width: 500px) {
    .header_menu {
        display: none;
    }
    
    .nav {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

@media screen and (max-width: 770px) {
    .vaksinInfo > h2 {
        font-weight: 500;
        font-size: 16px;
        color: rgb(80, 78, 78);
    }
}

@media screen and (min-width: 700px) {
    .credit__posts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 16px;
    }
}

@media screen and (min-width: 600px) {
    .about-product {
        margin: 0 auto;
        max-width: 650px;
    }

    .credit-item__content {
        padding: 16px 32px 32px 32px;
    }

    .credit-item__title {
        font-size: 18px;
    }

    .credit-item__description {
        font-size: 14px;
    }
}

@media screen and (min-width: 800px) {
    .nav__list {
        max-width: 800px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 900px) {
    .our-product {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .about-product {
        padding: 16px 32px;
    }
}

@media screen and (min-width: 1000px) {
    .posts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 32px;
        grid-row-gap: 16px;
    }

    .virus {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 26px;
        grid-row-gap: 16px;
    }

    .credit__posts {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .posts {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .virus {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .our-product {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}